# Stock Picking 
This Project explore the price history of SP 500 Stock by Varioius Method:
+ Fundmental Analysis
+ Time series analysis 
+ Event Analysis 
+ ....
and make recommendation on future stock picking 

Authur: Wenxuan Zhang

Date: Aug 15, 2017

## Question 1 What Stock enjoyed the biggest increase in the past 5 years?

In [2]:
from pandas_datareader import data
import matplotlib.pyplot as plt
import pandas as pd

In [28]:
from pandas_datareader import data
import pandas as pd

SP500 = pd.read_csv("sp500.csv")
# Define the instruments to download. We would like to see Apple, Microsoft and the S&P500 index.
tickers = SP500["Symbol"]
tickers[len(tickers)] = "^GSPC"
# Define which online source one should use
data_source = 'google'

# We would like all available data from 01/01/2000 until 12/31/2016.
start_date = '2010-01-01'
end_date = '2016-12-31'

# User pandas_reader.data.DataReader to load the desired data. As simple as that.
panel_data = data.DataReader(tickers, data_source, start_date, end_date)

# Getting just the adjusted closing prices. This will return a Pandas DataFrame
# The index in this DataFrame is the major index of the panel_data.
close = panel_data.loc['Close']

# Getting all weekdays between 01/01/2000 and 12/31/2016
all_weekdays = pd.date_range(start=start_date, end=end_date,Freq='B')

# How do we align the existing prices in adj_close with our new set of dates?
# All we need to do is reindex close using all_weekdays as the new index
close = close.reindex(all_weekdays)

close.head(10)

/Users/wenxuanzhang/anaconda/lib/python2.7/site-packages/pandas_datareader/base.py:201: SymbolWarning: Failed to read symbol: '^GSPC', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)

,A,AAL,AAP,AAPL,ABBV,ABC,ABT,ACN,ADBE,ADI,...,XOM,XRAY,XRX,XYL,YHOO,YUM,ZBH,ZION,ZTS,^GSPC
2010-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-01-04,31.3,NaN,40.38,30.57,NaN,26.63,27.23,42.07,37.09,NaN,...,69.15,35.33,34.52,NaN,17.1,35.09,60.02,13.33,NaN,NaN
2010-01-05,30.96,NaN,40.14,30.63,NaN,26.44,27.01,42.33,37.7,NaN,...,69.42,34.91,34.56,NaN,17.23,34.97,61.92,13.8,NaN,NaN
2010-01-06,30.85,NaN,40.49,30.14,NaN,26.19,27.16,42.78,37.62,NaN,...,70.02,35.14,34.24,NaN,17.17,34.72,61.9,15,NaN,NaN
2010-01-07,30.81,NaN,40.48,30.08,NaN,25.77,27.38,42.74,36.89,NaN,...,69.8,35.6,34.4,NaN,16.7,34.71,63.32,16.68,NaN,NaN
2010-01-08,30.8,NaN,40.64,30.28,NaN,26.05,27.52,42.57,36.69,NaN,...,69.52,35.6,34.28,NaN,16.7,34.72,61.99,16.41,NaN,NaN
2010-01-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-01-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
panel_data.to_excel("SP500.xlsx")

## Which company has the highest growth over 5 years?
Let take a look into the the Highest Period of the first Day of Analysis

In [15]:
High = pd.read_excel("SP500.xlsx",sheetname="High",index_col=0)

In [16]:
# define a typical function to calculate the 6 year growth rate
def f(x):
    return (x[len(x)-1]/x[0])
# define a lambda function 
lambda x : (x[len(x)-1]/x[0])
High.apply(f,axis=0)
growth= High.apply(lambda x : (x[len(x)-1]/x[0]),axis=0)
revenue = High.apply(lambda x: (x[len(x)-1]-x[0]),axis=0)
performance = pd.DataFrame({'growth': growth,'revenue':revenue,"Symbol":growth.index})
performance.merge(SP500,on = "Symbol",how = "left")